## *RECKITT (Actualizado)* 	
---

### Verificación & Transformación de DataFrames

In [41]:
# Librerías para este script

import pandas as pd
import os
import numpy as np

##### **1) Categorías**

In [2]:
categorias = pd.read_csv('DIM_CATEGORY.csv')

categorias['CATEGORY'] = categorias['CATEGORY'].astype('string')
categorias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID_CATEGORY  5 non-null      int64
 1   CATEGORY     5 non-null      string
dtypes: int64(1), string(1)
memory usage: 212.0 bytes

In [3]:
categorias.replace('FABRIC TREATMENT and SANIT\r\n', 'FABRIC TREATMENT and SANITARY', inplace=True)
categorias.head()

   ID_CATEGORY                       CATEGORY
0            1  FABRIC TREATMENT and SANITARY
1            2                      AIR CARE
2            3                   LAVAVAJILLAS
3            4               MEGA SUPERFICIES
4            5            LAVATORY CARE & BRC

##### **2) Productos**

In [4]:
productos = pd.read_csv('DIM_PRODUCT.csv')
productos = productos.rename(columns={'CATEGORY' : 'ID_CATEGORY'}) # Para su posterior fusión con las demás tablas

productos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MANUFACTURER      505 non-null    object
 1   BRAND             505 non-null    object
 2   ITEM              503 non-null    object
 3   ITEM_DESCRIPTION  505 non-null    object
 4   ID_CATEGORY       505 non-null    int64
 5   FORMAT            505 non-null    object
 6   ATTR1             499 non-null    object
 7   ATTR2             505 non-null    object
 8   ATTR3             499 non-null    object
dtypes: int64(1), object(8)
memory usage: 35.6+ KB

In [5]:
productos.tail()

,MANUFACTURER,BRAND,ITEM,ITEM_DESCRIPTION,ID_CATEGORY,FORMAT,ATTR1,ATTR2,ATTR3
500,RECKITT,VANISH,7501058789778BP1,VANISH EXT HIGIENE REM MANCHAS GAL 4LT + VANIS...,1,LIQUIDO,SAFE BLEACH,FABRIC TREATMENT,ROSA
501,INDS. ALEN,CLORALEX,7501025412142,CLORALEX AROMAS BLANQUEADOR C/AROMA LAVANDA GA...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
502,INDS. ALEN,CLORALEX,NaN,CLORALEX EL RENDIDOR BOT PLAST 2LT,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
503,CLOROX,CLOROX,NaN,CLOROX MASCOTAS BLANQUEADOR+DETERGENTE GALON 10L,1,LIQUIDO,CLORO,CLORO,MASCOTAS
504,CLOROX,CLOROX,7502240948188BP1,CLOROX BLANQ930M+MMBLANQINOD709M+MMFIBRAULTRA1...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO

##### **3) Fechas**

In [6]:
fechasx = pd.read_csv('DIM_CALENDAR.csv')

fechasx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   WEEK         156 non-null    object
 1   YEAR         156 non-null    int64
 2   MONTH        156 non-null    int64
 3   WEEK_NUMBER  156 non-null    int64
 4   DATE         156 non-null    object
dtypes: int64(3), object(2)
memory usage: 6.2+ KB

In [7]:
fechasx.head(5)

    WEEK  YEAR  MONTH  WEEK_NUMBER        DATE
0  01-21  2021      1            1  10/01/2021
1  02-21  2021      1            2  17/01/2021
2  03-21  2021      1            3  24/01/2021
3  04-21  2021      1            4  31/01/2021
4  05-21  2021      2            5  07/02/2021

In [8]:
def corregir_week(valor):

  try:
    if '-' in valor and len(valor.split('-')[0]) == 2:
      mes_o_semana, year = valor.split('-')
      mes_o_semana = int(mes_o_semana) # Convierte a entero para validación

      if 1 <= mes_o_semana <= 12:
        return f"0{mes_o_semana}-22" if mes_o_semana < 10 else f"{mes_o_semana}-22"
      else:
        return valor
    return valor
  except Exception as e:
    return valor

# Aplica la corrección a la columna WEEK

fechasx['WEEK'] = fechasx['WEEK'].apply(corregir_week)
fechasx.to_csv('fechas.csv', index=False)
print("¡Corrección completada!")

¡Corrección completada!

In [9]:
#Comprobación de correción de formato de fechas

fechas = pd.read_csv('fechas.csv')

fechas['DATE'][:10].unique()

array(['10/01/2021', '17/01/2021', '24/01/2021', '31/01/2021',
       '07/02/2021', '14/02/2021', '21/02/2021', '28/02/2021',
       '07/03/2021', '14/03/2021'], dtype=object)

In [10]:
fechas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   WEEK         156 non-null    object
 1   YEAR         156 non-null    int64
 2   MONTH        156 non-null    int64
 3   WEEK_NUMBER  156 non-null    int64
 4   DATE         156 non-null    object
dtypes: int64(3), object(2)
memory usage: 6.2+ KB

##### **4) Segmentos**

In [11]:
segmentos = pd.read_csv('DIM_SEGMENT.csv')
segmentos['CATEGORY'] = segmentos['CATEGORY'].astype('int64')
segmentos = segmentos.rename(columns={'CATEGORY':'ID_CATEGORY'})
segmentos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID_CATEGORY  53 non-null     int64
 1   ATTR1        53 non-null     object
 2   ATTR2        53 non-null     object
 3   ATTR3        52 non-null     object
 4   FORMAT       53 non-null     object
 5   SEGMENT      53 non-null     object
dtypes: int64(1), object(5)
memory usage: 2.6+ KB

In [12]:
segmentos.head(5)

   ID_CATEGORY  ATTR1  ATTR2      ATTR3   FORMAT SEGMENT
0            1  CLORO  CLORO    BAMBINO  LIQUIDO  BLEACH
1            1  CLORO  CLORO  GERMICIDA  LIQUIDO  BLEACH
2            1  CLORO  CLORO   MASCOTAS  LIQUIDO  BLEACH
3            1  CLORO  CLORO  MULTIUSOS      GEL  BLEACH
4            1  CLORO  CLORO  MULTIUSOS  LIQUIDO  BLEACH

##### **5) Ventas**

In [13]:
ventas = pd.read_csv('FACT_SALES.csv')
ventas = ventas.rename(columns={'ITEM_CODE' : 'ITEM'}) # Para su posterior fusión con las demás tablas
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122002 entries, 0 to 122001
Data columns (total 6 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   WEEK                         122002 non-null  object
 1   ITEM                         122002 non-null  object
 2   TOTAL_UNIT_SALES             122002 non-null  float64
 3   TOTAL_VALUE_SALES            122002 non-null  float64
 4   TOTAL_UNIT_AVG_WEEKLY_SALES  122002 non-null  float64
 5   REGION                       122002 non-null  object
dtypes: float64(3), object(3)
memory usage: 5.6+ MB

In [14]:
ventas.tail()

,WEEK,ITEM,TOTAL_UNIT_SALES,TOTAL_VALUE_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES,REGION
121997,26-23,7501058792778BP1,1.192,150.829,4.000,TOTAL AUTOS SCANNING MEXICO
121998,26-23,7501058757630,1.947,235.416,2.797,TOTAL AUTOS SCANNING MEXICO
121999,26-23,7501058753441,18.013,429.289,9.102,TOTAL AUTOS SCANNING MEXICO
122000,26-23,7702626204208BP1,21.152,210.276,22.172,TOTAL AUTOS SCANNING MEXICO
122001,26-23,7501058784346,1.468,301.973,2.068,TOTAL AUTOS SCANNING MEXICO

##### **Datos nulos**

In [15]:
# Rellenado de datos nulos
productos.fillna('0', inplace=True)
segmentos.fillna('NO DEFINIDO', inplace=True)

### Uniones De Tablas

##### **Unión de tabla Productos + Categorías**

In [16]:
productos_categorias = pd.merge(productos, categorias, on='ID_CATEGORY', how='left')
productos_categorias.head(5)

,MANUFACTURER,BRAND,ITEM,ITEM_DESCRIPTION,ID_CATEGORY,FORMAT,ATTR1,ATTR2,ATTR3,CATEGORY
0,INDS. ALEN,CLORALEX,0000075000592,CLORALEX EL RENDIDOR BOT.PLAST. 250ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO,FABRIC TREATMENT and SANITARY
1,INDS. ALEN,CLORALEX,0000075000608,CLORALEX EL RENDIDOR BOT.PLAST. 500ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO,FABRIC TREATMENT and SANITARY
2,INDS. ALEN,CLORALEX,0000075000615,CLORALEX EL RENDIDOR BOT.PLAST. 950ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO,FABRIC TREATMENT and SANITARY
3,INDS. ALEN,CLORALEX,0000075000622,CLORALEX EL RENDIDOR BOT.PLAST. 2000ML NAL 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO,FABRIC TREATMENT and SANITARY
4,INDS. ALEN,CLORALEX,0000075000639,CLORALEX EL RENDIDOR BOT.PLAST. 3750ML NAL 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO,FABRIC TREATMENT and SANITARY

##### **Unión de tabla Productos-Categorías + Ventas**

In [17]:
productos_categorias_ventas = pd.merge(ventas, productos_categorias, on='ITEM', how='inner')

productos_categorias_ventas.tail(5)

,WEEK,ITEM,TOTAL_UNIT_SALES,TOTAL_VALUE_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES,REGION,MANUFACTURER,BRAND,ITEM_DESCRIPTION,ID_CATEGORY,FORMAT,ATTR1,ATTR2,ATTR3,CATEGORY
121997,26-23,7501058792778BP1,1.192,150.829,4.000,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,VANISHOXIACTIONROSABOTE900GR+MMCRYSTALWHITEDOY...,1,POLVO,SAFE BLEACH,FABRIC TREATMENT,ROSA,FABRIC TREATMENT and SANITARY
121998,26-23,7501058757630,1.947,235.416,2.797,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,VANISH PODER O2 PRE-LAVADOR BOT.ATOM. 650 ML N...,1,LIQUIDO,PRELAVADOR,FABRIC TREATMENT,ROSA,FABRIC TREATMENT and SANITARY
121999,26-23,7501058753441,18.013,429.289,9.102,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,VANISH PODER O2 DOYPACK 120 GR 7501058753441,1,POLVO,SAFE BLEACH,FABRIC TREATMENT,ROSA,FABRIC TREATMENT and SANITARY
122000,26-23,7702626204208BP1,21.152,210.276,22.172,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,VANISH PODER 02 INTELIGENCE SIN CLORO SOBRE 30...,1,POLVO,SAFE BLEACH,FABRIC TREATMENT,ROSA,FABRIC TREATMENT and SANITARY
122001,26-23,7501058784346,1.468,301.973,2.068,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,VANISH PODER 02 INTELLIGENCE POLVO BOT 900 GR ...,1,POLVO,SAFE BLEACH,FABRIC TREATMENT,ROSA,FABRIC TREATMENT and SANITARY

##### **Unión de tabla Productos-Categorias-Ventas + Segmentos**

In [ ]:
# Verificación de duplicados
print(segmentos['ID_CATEGORY'].duplicated().sum())
print(productos_categorias_ventas['ID_CATEGORY'].duplicated().sum())

# Eliminación de duplicados en 'segmentos'
segmentos_unicos = segmentos.drop_duplicates(subset=['ID_CATEGORY'])

# Elimina las columnas duplicadas de 'segmentos' antes del merge
cols_to_remove = ['FORMAT', 'ATTR1', 'ATTR2', 'ATTR3']
segmentos_sin_duplicados = segmentos_unicos.drop(columns=[col for col in cols_to_remove if col in segmentos_unicos.columns])

# Merge sin columnas duplicadas
pro_cat_ven_seg = pd.merge(productos_categorias_ventas, segmentos_sin_duplicados, on='ID_CATEGORY', how='inner')

pro_cat_ven_seg.tail(5)

52
122001

,WEEK,ITEM,TOTAL_UNIT_SALES,TOTAL_VALUE_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES,REGION,MANUFACTURER,BRAND,ITEM_DESCRIPTION,ID_CATEGORY,FORMAT,ATTR1,ATTR2,ATTR3,CATEGORY,SEGMENT
121997,26-23,7501058792778BP1,1.192,150.829,4.000,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,VANISHOXIACTIONROSABOTE900GR+MMCRYSTALWHITEDOY...,1,POLVO,SAFE BLEACH,FABRIC TREATMENT,ROSA,FABRIC TREATMENT and SANITARY,BLEACH
121998,26-23,7501058757630,1.947,235.416,2.797,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,VANISH PODER O2 PRE-LAVADOR BOT.ATOM. 650 ML N...,1,LIQUIDO,PRELAVADOR,FABRIC TREATMENT,ROSA,FABRIC TREATMENT and SANITARY,BLEACH
121999,26-23,7501058753441,18.013,429.289,9.102,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,VANISH PODER O2 DOYPACK 120 GR 7501058753441,1,POLVO,SAFE BLEACH,FABRIC TREATMENT,ROSA,FABRIC TREATMENT and SANITARY,BLEACH
122000,26-23,7702626204208BP1,21.152,210.276,22.172,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,VANISH PODER 02 INTELIGENCE SIN CLORO SOBRE 30...,1,POLVO,SAFE BLEACH,FABRIC TREATMENT,ROSA,FABRIC TREATMENT and SANITARY,BLEACH
122001,26-23,7501058784346,1.468,301.973,2.068,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,VANISH PODER 02 INTELLIGENCE POLVO BOT 900 GR ...,1,POLVO,SAFE BLEACH,FABRIC TREATMENT,ROSA,FABRIC TREATMENT and SANITARY,BLEACH

##### **Unión de tablasProductos-Categorias-Ventas-Segmentos + Fechas** PENDIENTE

In [26]:
pro_cat_ven_seg_date = pd.merge(pro_cat_ven_seg, fechas, on='WEEK', how='inner')

pro_cat_ven_seg_date.tail()

,WEEK,ITEM,TOTAL_UNIT_SALES,TOTAL_VALUE_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES,REGION,MANUFACTURER,BRAND,ITEM_DESCRIPTION,ID_CATEGORY,FORMAT,ATTR1,ATTR2,ATTR3,CATEGORY,SEGMENT,YEAR,MONTH,WEEK_NUMBER,DATE
143011,26-23,7501058792778BP1,1.192,150.829,4.000,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,VANISHOXIACTIONROSABOTE900GR+MMCRYSTALWHITEDOY...,1,POLVO,SAFE BLEACH,FABRIC TREATMENT,ROSA,FABRIC TREATMENT and SANITARY,BLEACH,2023,7,26,03/07/2023
143012,26-23,7501058757630,1.947,235.416,2.797,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,VANISH PODER O2 PRE-LAVADOR BOT.ATOM. 650 ML N...,1,LIQUIDO,PRELAVADOR,FABRIC TREATMENT,ROSA,FABRIC TREATMENT and SANITARY,BLEACH,2023,7,26,03/07/2023
143013,26-23,7501058753441,18.013,429.289,9.102,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,VANISH PODER O2 DOYPACK 120 GR 7501058753441,1,POLVO,SAFE BLEACH,FABRIC TREATMENT,ROSA,FABRIC TREATMENT and SANITARY,BLEACH,2023,7,26,03/07/2023
143014,26-23,7702626204208BP1,21.152,210.276,22.172,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,VANISH PODER 02 INTELIGENCE SIN CLORO SOBRE 30...,1,POLVO,SAFE BLEACH,FABRIC TREATMENT,ROSA,FABRIC TREATMENT and SANITARY,BLEACH,2023,7,26,03/07/2023
143015,26-23,7501058784346,1.468,301.973,2.068,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,VANISH PODER 02 INTELLIGENCE POLVO BOT 900 GR ...,1,POLVO,SAFE BLEACH,FABRIC TREATMENT,ROSA,FABRIC TREATMENT and SANITARY,BLEACH,2023,7,26,03/07/2023

### Filtrado Final

In [30]:
df = pro_cat_ven_seg_date.copy()
df.drop(columns=['ITEM_DESCRIPTION', 'WEEK', 'ID_CATEGORY'], inplace=True, errors='ignore')

df.sample(5)

,ITEM,TOTAL_UNIT_SALES,TOTAL_VALUE_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES,REGION,MANUFACTURER,BRAND,FORMAT,ATTR1,ATTR2,ATTR3,CATEGORY,SEGMENT,YEAR,MONTH,WEEK_NUMBER,DATE
58491,7501058794956BP1,0.052,6.878,2.080,TOTAL AUTOS AREA 5,RECKITT,VANISH,GEL,SAFE BLEACH,FABRIC TREATMENT,BLANCO,FABRIC TREATMENT and SANITARY,BLEACH,2023,3,10,13/03/2023
26386,7501058714596,11.780,148.453,30.757,TOTAL AUTOS AREA 6,RECKITT,VANISH,BARRA,SAFE BLEACH,FABRIC TREATMENT,ROSA,FABRIC TREATMENT and SANITARY,BLEACH,2022,8,33,21/08/2022
23789,7501025405106,3.634,114.358,8.842,TOTAL AUTOS AREA 1,INDS. ALEN,CLORALEX,GEL,CLORO,CLORO,MULTIUSOS,FABRIC TREATMENT and SANITARY,BLEACH,2022,1,52,01/01/2023
104410,4008455394213,0.088,4.525,1.787,TOTAL AUTOS AREA 4,DELTA PRONATURA,DR.BECKMANN,LIQUIDO,PRELAVADOR,FABRIC TREATMENT,PRE LAVADOR,FABRIC TREATMENT and SANITARY,BLEACH,2023,7,27,10/07/2023
133601,7501025402235,0.577,20.771,6.341,TOTAL AUTOS AREA 4,INDS. ALEN,BLANCATEL,LIQUIDO,CLORO,CLORO,NO DEFINIDO,FABRIC TREATMENT and SANITARY,BLEACH,2022,10,39,02/10/2022

In [36]:
# Transformación de la columna 'ITEM' para evitar notación científica y convertir a entero
df['ITEM'] = pd.to_numeric(df['ITEM'], errors='coerce').astype('Int64')

df['ITEM'] = df['ITEM'].apply(lambda x: str(int(x)) if pd.notnull(x) else '0')

print(df['ITEM'].head())

0                0
1    7501058715883
2    7702626213774
3    7501058716422
4    7501058784353
Name: ITEM, dtype: object

In [37]:
df = df.reindex(columns=['DATE', 
                         'WEEK_NUMBER', 
                         'MONTH', 
                         'YEAR', 
                         'ITEM', 
                         'REGION', 
                         'MANUFACTURER', 
                         'CATEGORY', 
                         'SEGMENT', 
                         'BRAND', 
                         'FORMAT', 
                         'TOTAL_UNIT_SALES', 
                         'TOTAL_UNIT_AVG_WEEKLY_SALES',
                         'TOTAL_VALUE_SALES',
                         'ATTR1',
                         'ATTR2',
                         'ATTR3',])

df.sample(5)

,DATE,WEEK_NUMBER,MONTH,YEAR,ITEM,REGION,MANUFACTURER,CATEGORY,SEGMENT,BRAND,FORMAT,TOTAL_UNIT_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES,TOTAL_VALUE_SALES,ATTR1,ATTR2,ATTR3
27505,14/02/2021,6,2,2021,7501025401313,TOTAL AUTOS AREA 5,INDS. ALEN,FABRIC TREATMENT and SANITARY,BLEACH,CLORALEX,GEL,2.750,15.805,152.719,CLORO,CLORO,MULTIUSOS
124574,10/04/2023,14,4,2023,7891035040276,TOTAL AUTOS AREA 1,RECKITT,FABRIC TREATMENT and SANITARY,BLEACH,VANISH,BARRA,4.750,12.402,65.580,SAFE BLEACH,FABRIC TREATMENT,BLANCO
72138,24/07/2022,29,7,2022,7503002319536,TOTAL AUTOS AREA 2,RECKITT,FABRIC TREATMENT and SANITARY,BLEACH,VANISH,LIQUIDO,0.967,3.312,95.373,SAFE BLEACH,FABRIC TREATMENT,ROSA
92142,06/02/2023,5,2,2023,7501058753458,TOTAL AUTOS AREA 6,RECKITT,FABRIC TREATMENT and SANITARY,BLEACH,VANISH,POLVO,2.610,7.699,55.279,SAFE BLEACH,FABRIC TREATMENT,BLANCO
92280,06/02/2023,5,2,2023,7501058714596,TOTAL AUTOS AREA 6,RECKITT,FABRIC TREATMENT and SANITARY,BLEACH,VANISH,BARRA,9.398,22.483,108.254,SAFE BLEACH,FABRIC TREATMENT,ROSA

In [45]:
# Extracción del CSV

df.to_csv('df_reckitt.csv', index=False, encoding='utf-8-sig')
print(f"¡CSV exportado exitosamente a dirección: {os.getcwd()}")

¡CSV exportado exitosamente a dirección: c:\Users\thehe\OneDrive\Escritorio