### Tarea M54 - Bryan Alberto Coronado García
---

#### Conexión a la base de datos e importación del archivo de housing / Exploración de la información de housing utilizando Python
- Nota 1: El archivo CSV en el que se valora la data de las casas a detalle es el nombrado 'kc_house_data', el cual \
era usado para esta practica y no el 'housing.csv' como anuncian las instrucciones.

- Nota 2: Se utiliza la librería "pandasql" para consultas SQL en dataframes de pandas para mejor legibilidad \
optando por esta opción como factible para la realización de la practica.

In [14]:
import pandas as pd
import pandasql as psql # Para realizar consultas SQL sobre DataFrames de pandas
import numpy as np
import boto3
from io import StringIO

session = boto3.Session(profile_name='BryanVsCode')
s3 = session.client('s3')

# Se extraer el CSV desde el bucket S3
csv_obj = s3.get_object(Bucket='data-ebac', Key='Analista de datos M54 - kc_house_data.csv')
body = csv_obj['Body'].read().decode('utf-8')

# Lectura del CSV en un DataFrame de pandas
df = pd.read_csv(StringIO(body))
df.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.000,3,1.000,1180,5650,1.000,0,0,...,7,1180,0,1955,0,98178,47.511,-122.257,1340,5650
1,6414100192,20141209T000000,538000.000,3,2.250,2570,7242,2.000,0,0,...,7,2170,400,1951,1991,98125,47.721,-122.319,1690,7639
2,5631500400,20150225T000000,180000.000,2,1.000,770,10000,1.000,0,0,...,6,770,0,1933,0,98028,47.738,-122.233,2720,8062
3,2487200875,20141209T000000,604000.000,4,3.000,1960,5000,1.000,0,0,...,7,1050,910,1965,0,98136,47.521,-122.393,1360,5000
4,1954400510,20150218T000000,510000.000,3,2.000,1680,8080,1.000,0,0,...,8,1680,0,1987,0,98074,47.617,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.000,4,4.500,5420,101930,1.000,0,0,...,11,3890,1530,2001,0,98053,47.656,-122.005,4760,101930
6,1321400060,20140627T000000,257500.000,3,2.250,1715,6819,2.000,0,0,...,7,1715,0,1995,0,98003,47.310,-122.327,2238,6819
7,2008000270,20150115T000000,291850.000,3,1.500,1060,9711,1.000,0,0,...,7,1060,0,1963,0,98198,47.410,-122.315,1650,9711
8,2414600126,20150415T000000,229500.000,3,1.000,1780,7470,1.000,0,0,...,7,1050,730,1960,0,98146,47.512,-122.337,1780,8113
9,3793500160,20150312T000000,323000.000,3,2.500,1890,6560,2.000,0,0,...,7,1890,0,2003,0,98038,47.368,-122.031,2390,7570

In [21]:
# Obtenemos la descripción del DataFrame
pd.set_option('display.float_format', lambda x: '%.2f' % x)
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,21613.00,4580301520.86,2876565571.31,1000102.00,2123049194.00,3904930410.00,7308900445.00,9900000190.00
price,21613.00,540088.14,367127.20,75000.00,321950.00,450000.00,645000.00,7700000.00
bedrooms,21613.00,3.37,0.93,0.00,3.00,3.00,4.00,33.00
bathrooms,21613.00,2.11,0.77,0.00,1.75,2.25,2.50,8.00
sqft_living,21613.00,2079.90,918.44,290.00,1427.00,1910.00,2550.00,13540.00
sqft_lot,21613.00,15106.97,41420.51,520.00,5040.00,7618.00,10688.00,1651359.00
floors,21613.00,1.49,0.54,1.00,1.00,1.50,2.00,3.50
waterfront,21613.00,0.01,0.09,0.00,0.00,0.00,0.00,1.00
view,21613.00,0.23,0.77,0.00,0.00,0.00,0.00,4.00
condition,21613.00,3.41,0.65,1.00,3.00,3.00,4.00,5.00
grade,21613.00,7.66,1.18,1.00,7.00,7.00,8.00,13.00
sqft_above,21613.00,1788.39,828.09,290.00,1190.00,1560.00,2210.00,9410.00
sqft_basement,21613.00,291.51,442.58,0.00,0.00,0.00,560.00,4820.00
yr_built,21613.00,1971.01,29.37,1900.00,1951.00,1975.00,1997.00,2015.00
yr_renovated,21613.00,84.40,401.68,0.00,0.00,0.00,0.00,2015.00
zipcode,21613.00,98077.94,53.51,98001.00,98033.00,98065.00,98118.00,98199.00
lat,21613.00,47.56,0.14,47.16,47.47,47.57,47.68,47.78
long,21613.00,-122.21,0.14,-122.52,-122.33,-122.23,-122.12,-121.31
sqft_living15,21613.00,1986.55,685.39,399.00,1490.00,1840.00,2360.00,6210.00
sqft_lot15,21613.00,12768.46,27304.18,651.00,5100.00,7620.00,10083.00,871200.00

#### Incluir 3 análisis adicionales seleccionados por el estudiante, que respondan a preguntas que el negocio quisiera hacer.
- Incluir KPIs y datos que permitan a una persona sin conocer el negocio a fondo, darse cuenta de sus magnitudes (e.g. promedio del tamaño de una casa).

In [27]:
# ------------------------------------------------------------------------
# Cuáles son los 10 códigos postales con el promedio más alto en precios?
# ------------------------------------------------------------------------

psql.sqldf("SELECT zipcode, \
            AVG(price) as PrecioPromedio \
            FROM df \
            GROUP BY zipcode \
            ORDER BY price \
            limit 10")

# Esta consulta nos ayuda a comprender y valorar los zipcodes mas valiosos para posibles inversiones
# ante los clientes, asi como para la empresa, ya que estos datos pueden ser utilizados
# para la toma de decisiones estratégicas en el negocio inmobiliario.
# Adicionalmente, se puede observar que los precios promedio de las casas en estos códigos postales
# son significativamente más altos que en otros códigos postales, lo que indica una alta demanda
# y un mercado inmobiliario activo en estas áreas. Lo que nos puede ayudar a entender alguna posible
# centrificacion de la zona, o el crecimiento de la misma.

   zipcode  PrecioPromedio
0    98168       240328.37
1    98028       462480.04
2    98106       319581.39
3    98002       234284.04
4    98023       286732.79
5    98178       310612.76
6    98148       284908.60
7    98146       359483.24
8    98155       423725.70
9    98031       300539.89

In [ ]:
# ------------------------------------------------------------------------------
# Cuánto aumenta el precio por cada piso en una casa?
# -------------------------------------------------------------------------------

psql.sqldf("SELECT floors, \
            AVG(price) as PrecioPromedio \
            FROM df \
            GROUP BY floors \
            ORDER BY floors")

# Esta consulta nos permite confirmar el aumento estimado del precio por cada piso en una casa.
# Podemos observar que el precio promedio de las casas aumenta a medida que aumenta el número de pisos
# en la casa. Esto indica que las casas con más pisos tienden a tener un precio más alto, lo que puede ser
# un factor importante a considerar al evaluar el valor de una propiedad.
# También puede ser útil para la empresa al evaluar el valor de las propiedades y establecer precios
# competitivos en el mercado inmobiliario.

   floors  PrecioPromedio
0    1.00       442180.63
1    1.50       558980.64
2    2.00       648891.16
3    2.50      1060346.49
4    3.00       582526.04
5    3.50       933312.50

In [43]:
# ------------------------------------------------------------------------------
# Las casas más antiguas siguen siendo rentables?
# ------------------------------------------------------------------------------
psql.sqldf("SELECT yr_built as AñoDeConstruccion, \
            AVG(price) as PrecioPromedio, \
            price/yr_built as PrecioPorAñoDeConstruccion \
            FROM df \
            GROUP BY yr_built \
            ORDER BY yr_built ASC \
            limit 21")

# Esta consulta nos ayuda a entender la relación entre la antigüedad de las casas y su precio.
# Podemos verificar si las casas más antiguas tienden a tener precios más bajos,
# lo que podría indicar una menor demanda o una percepción de menor valor en el mercado.
# También, al observar el precio por año de construcción, podemos identificar si hay una tendencia
# a que las casas más antiguas tengan un precio por año de construcción más bajo,
# lo que podría indicar una menor rentabilidad en el mercado inmobiliario para estas propiedades, a su vez
# valorar alguna posible renovación o remodelación de las mismas para aumentar su valor.

    AñoDeConstruccion  PrecioPromedio  PrecioPorAñoDeConstruccion
0                1900       581387.21                      278.95
1                1901       556935.93                      202.52
2                1902       673007.41                      341.75
3                1903       480958.20                      336.31
4                1904       583756.64                      336.13
5                1905       752977.99                      299.21
6                1906       669799.40                      142.35
7                1907       676257.25                      229.42
8                1908       564348.69                      212.26
9                1909       696135.16                      349.40
10               1910       671536.31                      445.46
11               1911       632488.36                      408.16
12               1912       612990.70                       41.84
13               1913       585683.22                      378.99
14               1914       615153.48                      757.58
15               1915       584896.30                      489.30
16               1916       600915.04                      253.13
17               1917       528108.93                      108.48
18               1918       492246.88                      250.26
19               1919       537779.60                      334.78
20               1920       477804.40                      220.31